<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../resources/css/contactPage.css">
    <script src="../resources/js/scripts.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two|Lobster|PT+Serif" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <title>Pizzeria</title>
</head>

<body onload="startAtMiddlePage(0, 360)">
    <header>
        <nav id="loginBar">
            <button id="loginButton" type="button" class="btn btn-success">Panel administracyjny</button>
        </nav>

        <nav="navigationBar">
            <figure id="behindBar">
                <figure class="navImage" id="menuPageImage">
                    <a href="menuPage.html">
                        <img onmousedown="setAfterButtonClick()" onmouseover="this.src='https://imageshack.com/a/img923/4627/v7Y89W.png'" onmouseout="this.src='https://imageshack.com/a/img922/9067/4Iyn6T.png'"
                            src="https://imageshack.com/a/img922/9067/4Iyn6T.png" />
                    </a>
                </figure>
                <figure class="navImage" id="contactPageImage">
                    <a href="contactPage.html">
                        <img onmousedown="setAfterButtonClick()" onmouseover="this.src='https://imageshack.com/a/img924/6415/uhYTAw.png'" onmouseout="this.src='https://imageshack.com/a/img924/2503/LfzF6g.png'"
                            src="https://imageshack.com/a/img924/2503/LfzF6g.png" />
                    </a>
                </figure>
                <figure class="logoImage" id="firstLogoImage">
                    <a href="index.html">
                        <img onmousedown="setAfterButtonClick()" onmouseover="this.src='https://imageshack.com/a/img923/9097/xFjbx3.png'" onmouseout="this.src='https://imageshack.com/a/img924/7897/Ye9Bm5.png'"
                            src="https://imageshack.com/a/img924/7897/Ye9Bm5.png" />
                    </a>
                </figure>
            </figure>

            </nav>
    </header>

    <main>
        <section id="mainSection">
            <figure class="captionBehind" id="firstCaption">Gdzie nas znajdziesz?</figure>
            <figure class="caption" id="firstCaption">Gdzie nas znajdziesz?</figure>
            <section id="mapSection">
                <img src="http://imageshack.com/a/img922/7569/8QrbkX.png" style="width: 100%;"/>
            </section>

            <figure class="captionBehind" id="secondCaption">Kontakt</figure>
            <figure class="caption" id="secondCaption">Kontakt</figure>

            <section id="mediaSection">
                <img class="mediaIcon" src="https://www.betolimp.com/public/templates//img/account.png" />
                <span>
                    <b>Właściciel: </b>Małgorzata Zawisza</span><br />
                <img class="mediaIcon" src="https://2un9sw2t7azx2va7h94d68bp-wpengine.netdna-ssl.com/wp-content/uploads/2014/07/icon_location_white.png"
                />
                <span>
                    <b>Adres: </b>ul. Śniadeckich 12B Koszalin</span><br />
                <img class="mediaIcon" src="http://www.rafa-jeziorsko.eu/graphics/icon/icon_phone.png" />
                <span>
                    <b>Telefon: </b>692-345-654</span><br />
                <img class="mediaIcon" src="https://www.innosalon.at/wp-content/uploads/2018/01/white-facebook-256.png" />
                <span>
                    <b>Facebook: </b>
                    <a href="!#">Konto "Jendy's Pizzeria"</a>
                </span>

            </section>

            <figure class="captionBehind" id="thirdCaption">Otwarte</figure>
            <figure class="caption" id="thirdCaption">Otwarte</figure>

            <section id="openingHoursSection">
                <p>
                    <b>Poniedziałek:</b> 00:00 - 00:00
                    <br>
                    <b>Wtorek:</b> 00:00 - 00:00
                    <br>
                    <b>Środa:</b> 00:00 - 00:00
                    <br>
                    <b>Czwartek:</b> 00:00 - 00:00
                    <br>
                    <b>Piątek:</b> 00:00 - 00:00
                    <br>
                    <b>Sobota:</b> 00:00 - 00:00
                    <br>
                    <b>Niedziela:</b> 00:00 - 00:00
                    <br>
                </p>
            </section>
        </section>
    </main>

    <footer>
        <figure id="behindBar"></figure>
        <figure class="squareImage">
            <img id="secondLogoImage" src="https://imageshack.com/a/img924/2180/WE00gr.png" />
        </figure>
        <section>
            <p>Designed by Mil Fushi - Małgorzata Zawisza</p>
            <p>Politechnika Koszalińska 2018</p>
            <p>Projekt interfejsu graficznego - Grzegorz Górski</p>
        </section>
    </footer>


    <script src="../resources/js/scripts.js"></script>
</body>

</html>