body{
    background-image: url(https://imageshack.com/a/img923/2275/K1bWZZ.jpg);
    background-attachment: fixed;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

::-webkit-scrollbar {
    background-color: white !important;
    height: auto;
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(23, 131, 81);
    box-shadow: inset 0px 0px 6px #00522C;
    height: auto;
    width: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#loginBar{
    height: 45px;
    background-color: #00522C;
    box-shadow: 5px 10px 18px black;
}

#loginButton{
    float: right;
    margin-top: 5px;
    margin-right: 20px;
    font-size: 17px;
    font-family: 'Lobster Two';
    letter-spacing: 1px;
    padding: 3px 8px 3px 8px;
    box-shadow: 2px 4px 5px black;
}

.navImage{
    display: inline-block;
    cursor: pointer;
    margin: -190px 0px 0px 0px;
    padding-left: 420px;
}

.logoImage{
    display: inline-block;
    cursor: pointer;
    margin: -200px 0px 0px -780px;
}

#behindBar{
    height: 100px;
    margin-top: 30%;
    margin-bottom: 105px;
    background-color: #00522C;
    box-shadow: 5px 10px 18px black;

}

main{
    margin: 140px 300px 0px 300px;
    background-color: #00522C;
    box-shadow: 0px 0px 25px black;
    border-radius: 3%;
    padding-top: 100px;
    padding-bottom: 50px;
}

figure.caption{
    position: relative;
    font-family: 'Lobster';
    letter-spacing: 2px;
    color: white;
    font-size: 75px;
}

figure.captionBehind{
    position: relative;
    font-family: 'Lobster';
    letter-spacing: 2px;
    color: #B31414;
    font-size: 80px;
}

figure.caption#firstCaption{
    margin-left: 136px;
    margin-bottom: -44px;
}
figure.captionBehind#firstCaption{
    margin-left: 122px;
    margin-bottom: -110px;
}

figure.caption#secondCaption{
    margin-left: 104px;
    margin-bottom: -85px;
}
figure.captionBehind#secondCaption{
    margin-left: 95px;
    margin-bottom: -110px;
}

figure.caption#thirdCaption{
    margin-left: 136px;
    margin-bottom: -44px;
}
figure.captionBehind#thirdCaption{
    margin-left: 122px;
    margin-bottom: -110px;
}

#newsSection{
    height: 400px;
    overflow-y: scroll;
    background-color: rgb(14, 161, 93);
    -webkit-box-shadow: inset 0px 0px 12px black;
    box-shadow: 0px 0px 12px black;
    margin: 0px 100px 0px 100px;
    
}

.newsArticle{
    display: block;
    margin: 50px 100px 50px 100px;
    padding: 20px;
    background-color: #00522C;
    box-shadow: 0px 0px 12px black;

}

.squareArticleImage img{
    float: left;
    height: 280px;
    width: 280px;
    margin: 0px 20px 0px 0px;
    background-color: white;
    padding: 7px;
    border: 1px solid black;
}

.newsArticle h1{
    font-family: 'Lobster Two';
    letter-spacing: 1px;
    color: white;
    font-size: 45px; 
    text-align: center;
    margin-bottom: 20px;
    margin-top: -20px;
}
.newsArticle p{
    font-family: 'PT Serif';
    color: rgb(183, 228, 207);
    font-size: 16px;
}

#articleMoreButton{
    display: block;
    float: right;
    margin: -5px 63px 2px 10px;
    font-family: 'PT Serif';
    padding: 3px 8px 3px 8px;
    box-shadow: 2px 4px 5px black;
}

#openingHoursSection{
    display: block;
    float: left;
    width: 20%;
    height: 200px;
    background-color: rgb(14, 161, 93);
    box-shadow: 0px 0px 12px black;
    margin: 50px 50px 100px 100px;
    padding: 20px;
}

#openingHoursSection p{
    font-family: 'PT Serif';
    color: rgb(183, 228, 207);
    font-size: 16px;
}

#aboutUsSection{
    display: block;
    height: 300px;
    width: 60%;
    background-color: rgb(14, 161, 93);
    box-shadow: 0px 0px 12px black;
    margin: 6px 100px 100px 420px;
    padding: 50px 20px 20px 20px;
}

#aboutUsSection h1{
    font-family: 'Lobster Two';
    letter-spacing: 1px;
    color: white;
    font-size: 45px; 
    text-align: center;
    margin-bottom: 20px;
    margin-top: -20px;
}

#aboutUsSection p{
    font-family: 'PT Serif';
    color: rgb(183, 228, 207);
    font-size: 16px;
}

footer figure#behindBar{
    height: 100px;
    margin-top: 200px;
    margin-bottom: 5px;
    background-color: #00522C;
    box-shadow: 5px 10px 18px black;
}

footer #secondLogoImage{
    display: inline-block;
    margin: -160px 0px 0px 150px;
}

footer section{
    color: rgb(49, 165, 111);
    margin-top: -151px;
    margin-left: 359px;
}

footer section p{
    margin: 2px;
    font-size: 12px;
}

/* MENUPAGE */

#editMenuSection {
    height: 500px;
    background-color: rgb(14, 161, 93);
    box-shadow: inset 0 0 12px #000000;
    margin: 130px 100px 0px 100px;
}

#editCaptionSection {
    position: absolute;
    background-color: rgb(6, 94, 52);
    width: 35%;
    height: 80px;
    padding: 14px 40px;
    margin-top: -38px;
    margin-left: 11%;
    border-radius: 5px;
    box-shadow: 0px 4px 12px black;
    
}

* {
    font-family: 'Almendra', sans-serif;
}

#buttonConfirm{
    float: right;
    margin-top: -67px;
    margin-right: 5%;
    font-size: 24px;
    font-family: 'Lobster Two';
    letter-spacing: 2px;
    padding: 3px 15px 3px 15px;
    box-shadow: 2px 4px 5px black;
}

figure.caption{
    position: relative;
    font-family: 'Lobster';
    letter-spacing: 2px;
    color: white;
    font-size: 75px;
}

figure.captionBehind{
    position: relative;
    font-family: 'Lobster';
    letter-spacing: 2px;
    color: #B31414;
    font-size: 80px;
}

figure.caption#secondCaption{
    margin-left: 104px;
    margin-bottom: -85px;
}
figure.captionBehind#secondCaption{
    margin-left: 95px;
    margin-bottom: -110px;
    margin-top: -236px;
}

section#mainSection{
    padding-bottom: 150px;
    padding-top: 160px;
    margin-top: 40px;
    background-color: rgb(10, 111, 63);
    margin-left: 3%;
    margin-right: 3%;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

input {
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
    font-size: 23px;
    padding: 7px;
}

#searchButton {
    background: url(../img/icoSearch.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 54px;
    width: 80px;
    cursor: pointer;
    background-color: orange;
    margin-top: -4px;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: #FFA00C !important;
    color: #ffffff;
}

section#pizzaFilterSection {
    background-color: #FFA00C;
    height: 100px;
    padding-top: 60px;
    padding-left: 15%;
    /*box-shadow: inset 0px 0px 12px black,
    inset -10px 0px 12px black, inset 10px 0px 12px black;*/
}

section#pizzaFilterSection span {
    margin-right: 10%;
    font-size: 20px;

}
section#formSection ul {
    list-style-type: none;
    margin: 25px 5%;
    padding-left: 0px;
}

section#titlesSection{
    background-color: #ffdfc0;
    font-size: 20px;
}

section#titlesSection span#lpTitleSpan{
    margin-left: 7%;
}

section#titlesSection span#nameTitleSpan{
    margin-left: 6%;
}

section#titlesSection span#lowerTitleSpan{
    margin-left: 55%;
}

section#titlesSection span#higherTitleSpan{
    margin-left: 4%;
}

section#formSection li {
    background-color: #ffdfc0;
    margin-bottom: 20px;
    border-radius: 5px;
}

section#formSection p{
    display: inline-block;
}

section#formSection p#idP{
    font-size: 81px;
    margin: -32px 10px;
    height: 75px;
    width: 90px;
}

section#nameAndIngSection{
    display: inline-block;
    height: 50px;
    width: 49%;
    position: relative;
}

section#formSection{
    overflow-y: auto;
    height: 367px;
}

section#formSection p#nameP{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
    margin-right: 5px;
}

section#formSection p#ingredientsP{
    display: inline-block;
    font-size: 16px;
    margin-bottom: 0px;
}

section#formSection button{
    display: inline-block;
    height: 50px;
    width: 50px;
    position: relative;
    top: -12px;
    margin-left: 12%;
    margin-right: 5%;
    background: url(http://imageshack.com/a/img922/2899/SjbW53.png);
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: orange;
}

section#formSection input[type=number]{
    overflow: visible;
    height: 10px;
    width: 49px;
    padding-right: 0px;
    padding-left: 5px;
    font-size: 20px;
    padding-bottom: 13px;
    margin-left: -5.5%;
    border: 1px solid green;
}

p#lowerP{
    margin-left: 6%;
}

section#formSection p.prizeP{
    margin-top: -7px;
    margin-bottom: 0px;
    margin-left: 1%;
    font-size: 23px;
    width: 50px;
    text-align: center;
    position: relative;
    top: -27px;
}

p#allCostP{
    font-size: 30px;
    color: #e9e9e9;
    margin-top: 35px;
    margin-left: 4%;
}

span#allCostSpan{
    font-size: 40px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}